# Virtual environment
venv/
env/
.venv/
IPFS_Hashing/
IPFS_HASHING/
ipfs_hashing/
.ipfs_hashing/

# Python cache files
__pycache__/
*.py[cod]

# Ignore other files that are not needed
.DS_Store  # For macOS users
.idea/     # If using PyCharm